<%= stylesheet_link_tag "style.css" %>

<h1>Photogur</h1>
<h2><%= @pictures.length %> Pictures</h3>

<p><%= link_to "New Picture", "/pictures/new" %></p>

<% @pictures.each do |picture| %>
	<p class="caption"><%= picture[:title] %>, <%= picture[:artist] %></p>
	<%= link_to image_tag(picture.url), "/pictures/#{picture.id}", :class => "picture" %>
<% end %>

