<%= stylesheet_link_tag "style.css" %>

<p><%= link_to "Back to Pictures", pictures_url %></p>

<p class="caption"><%= @picture[:title] %>, <%= @picture[:artist] %></p>
<img class="picture" src="<%= @picture[:url] %>">